ul {
  margin: 0 auto;
  padding: 0;
}

.episode-tag {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
}
.episode-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
  background-color: var(--zinc-950);
  margin: 24px auto;
  padding: 12px;
  min-width: 350px;
}

li img {
  object-fit: cover;
  object-position: bottom;
  aspect-ratio: 1;
  border-radius: 10px;
}

.episode-number {
  font-weight: 500;
  color: var(--orange-600);
  padding: 4px 16px;
  max-width: 120px;
}

.episode-title {
  font-weight: 500;
  padding: 8px;
}

h3 {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* anime tags */

.mixed {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--blue-900);
  color: var(--blue-500);
  padding: 4px 16px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.filler {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 8px;
  background-color: var(--red-950);
  color: var(--red-500);
  padding: 4px 16px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cannon {
  font-size: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--green-950);
  color: var(--green-500);
  padding: 4px 16px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* loading screee */

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; /* Adjust as needed */
}

.loader {
  position: relative;
  width: 100px;
  height: 16px;
  align-items: center;
  align-self: center;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 32px 0 #fff;
  left: 0;
  top: 0;
  animation: ballMoveX 2s linear infinite;
}
.loader:after {
  box-shadow: none;
  transform: translateX(64px) scale(1);
  z-index: 2;
  animation: none;
  animation: trfLoader 2s linear infinite;
}

@keyframes trfLoader {
  0%,
  5% {
    transform: translateX(64px) scale(1);
    background: #fff;
  }
  10% {
    transform: translateX(64px) scale(1);
    background: #ff3d00;
  }
  40% {
    transform: translateX(32px) scale(1.5);
    background: #ff3d00;
  }
  90%,
  95% {
    transform: translateX(0px) scale(1);
    background: #ff3d00;
  }
  100% {
    transform: translateX(0px) scale(1);
    background: #fff;
  }
}
@keyframes ballMoveX {
  0%,
  10% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(32px);
  }
}
