.legend-container {
  max-width: 99%;
  height: 30vh;
  display: grid;
  gap: 36px;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  grid-template-columns: 1fr 3fr;
}

.legend-item {
  display: block;
  text-align: center;
  background-color: var(--zinc-900);
  padding: 20px;
  border-radius: 20px;
  transition: opacity 0.3s ease-in;
  font-weight: 500;
  font-size: 16px;
}

.filter {
  text-align: center;
  border-radius: 10px;
}

/* manga filler and mixed styles */
.manga {
  text-align: center;
  background-color: var(--green-950);
  color: var(--green-500);
  padding: 25px;
  font-weight: 700;
}

.mixed-legend {
  text-align: center;
  background-color: var(--green-950);
  color: var(--green-600);
  padding: 25px;
  font-weight: 700;
}

.filler-legend {
  text-align: center;
  background-color: var(--red-950);
  color: var(--red-500);
  padding: 25px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .legend-container {
    grid-template-columns: 1fr; /* Switch to a single column layout */
    margin-bottom: 0; /* Remove the large margin */
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-from-left {
  animation: slideInFromLeft 0.5s ease;
  opacity: 1;
}

.hidden {
  opacity: 0;
}
