.search-box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 100px;
}

.search-input {
  max-width: 500px;
  padding: 20px;
  background-color: black;
  border: none;
  border-radius: 5px;
  text-align: center;
}

input[type="text"]::placeholder {
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.576);
}

input[type="text"]:focus {
  outline: none;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgba(255, 255, 255, 0.576);
}

.icon {
  padding: 15px;
  height: 18px;
  width: 24px;
  color: rgba(255, 255, 255, 0.576);
}
