@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&family=Montserrat:wght@500;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif; /* Use the font family you imported */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

:root {
  color-scheme: dark;
  background-color: black;
}
